<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zhl-yandex-ads-banner"
        version="1.0.2">

    <name>YandexRsa</name>

    <description>
        Show yandex rsa adv.
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=12.0.0"/>
    </engines>

    <js-module src="www/zhl-plugins-yandex-ads-banner.js" name="YandexAdsBanner">
        <clobbers target="window.plugins.YandexAdsBanner" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YandexAdsBanner">
                <param name="android-package" value="dev.zahalski.cordova.plugins.YandexAdsBanner" />
            </feature>
        </config-file>
        <framework src="com.yandex.android:mobileads:5.8.0" type="aar"/>

        <source-file src="src/android/dev/zahalski/cordova/plugins/YandexAdsBanner.java" target-dir="src/dev/zahalski/cordova/plugins"/>
    </platform>

</plugin>